@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background-color: #e6f3ff;
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  background-image: url(coollogo_com-1044064.png);
  background-repeat: no-repeat;
  background-position:top ;
  float: top;
  font-style: italic;
  text-align: center;
  font-size: 60px; 
  font-weight: bold;
  border-collapse: 1px
  width:200px;
  /*border:1px solid #20B2AA;*/
  height:80px; 
 color : grey;
}


.navigation {
  width: 100%;
  height: 40px;
  background-color: #004d99;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
  font-color:white;
}

.navigation li a:hover {
  background-color: black;
}






/*.navigation{
    list-style-type:  cjk-ideographic;
    margin: 10;
    padding: 10;
    width: 12%;
    background-color: #20B2AA;
    height: 100%; 
    position: fixed; 
    overflow: fixed;
    display:block;
    text-align: center;
    font-weight: bold;
    border-bottom: solid #000000 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    border-color: black;
   overflow: auto;
}
.navigation  a.selected {
  font-size : 30px;
  padding: 10px;
  border:5px;

}*/

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: black;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}


.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

a:hover {

  background-color: grey;
}
.button {
  background-color: #004d99; 
   font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 30px;
    float: center;
  }
  button:hover {
  background-color: black;
}

.search {
  margin: 100px auto;
  width: 400px;
  height: 30px;
  font-size : 20px;
}

.title{
  font-size : 20px;
  font-weight: bold;
  font-color:black;
}

.s{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.addbutton{
  background-color: #004d99; 
   font-weight: bold;
    color: white;
    text-align: center;
    font-size: 14px;
    width: 100px;
    height: 50px;
    margin: 30px;
    float: left;
}
.rcorners6 {
    border-radius: 15px 50px;
    background:lightblue;
    padding: 20px; 
    width: 500px;
    height: 260px; 

}
#rcorners5{
      border-radius: 15px 50px;
    background:lightblue;
    padding: 20px; 
    width: 400px;
    height: 160px; 
}