<div id='container'>
  <!-- Your html here -->

   <nav class="navigation">
    <ul>
      <li>
          <a class="selected" href="#/signin">Sign In</a>
          </li>
          <li><a class = "selected" href="#/signup">Sign Up</a></li>
    </ul>
  </nav>
</div>
<div>
<form >
<input type="text" class= 'search' placeholder="Enter Subject Name" ng-model="search"></input>
<button  class='button' ng-click="viewSubject(subject.name)" ng-repeat="subject in data |filter:search | orderBy:subject" >{{subject.name}}</button>
</form>
</div>

