<div id='container'>
  <!-- Your html here -->

  <nav class="navigation">
    <ul>
      <li>
          <a  href="#/landing">landing</a>
      </li>
       <li>
          <a href="#/subject">Subject</a>
      </li>
       <li>
          <a class="selected" href="#/post">Post</a>
      </li>
    </ul>
  </nav>
</div>

<div class="links">
<div>
 <form  ng-submit="addComment()">
   <input  type="text"  name="comment" ng-model="comment.text"
    placeholder="enter your comment">
   <button  type="submit">add Comment</button>
 </form>
 </div>

  <div class="link"
      ng-repeat="comment in data.comments">
    <img src="assets/redirect_icon.png">
    <div class="info">
      
      <div class="original">{{comment.text}}</div>
  </div>
  </div>
  </div>
