<div id='container'>
<!-- Your code here -->

  <nav class="navigation">
    <ul>
      <li>
          <a href="/#/">Landing</a>
      </li>
      <li>
          <a class="selected" href="#/signin">Sign In</a>
          </li>
          <li><a class = "selected" href="#/signup">Sign Up</a></li>
    </ul>
    </ul>
  </nav>
 

 <div class="s">{{name}}</div>

 
<div class="links">
  <div class="link"

      ng-repeat="post in data.posts ">
    <img src="assets/image.png">
    <br>
    <br>
    <div class="info">
      <div class="original">           
      <div class="title" ng-click="viewPost(post.title)">{{ post.title }}</div>
      <div class="original">{{ post.text }}</div>
      <div class="original">{{ post.subjectName.name}}</div>
    </div>
  </div>
  </div>
    <br>
    <br>
 <div class="rcorners6">
<h3>  add your post</h3>
 <form  ng-submit="addPost()">
   <input type="text" name="post" ng-model="post.title"
     placeholder="enter post title">
   <input  style='height:80px' type="text"  name="post" ng-model="post.text"
    placeholder="enter post text">
   <button class='addbutton' type="submit">add Post</button>
 </form>
 </div>
