<div id='container'>
<!-- Your code here -->

  <nav class="navigation">
    <ul>
      <li>
          <a href="#/landing">Landing</a>
      </li>
       <li>
          <a class='selected' href="#/subject">Subject</a>
      </li>
       <li>
          <a href="#/post">Post</a>
      </li>
    </ul>
  </nav>
  <div >{{subject}}</div>
<div class="links">
  <div class="link"
      ng-repeat="post in data.posts ">
    <img src="assets/redirect_icon.png">
    <div class="info">
      <div class="visits">
        <span class="count">{{ post.upVote+post.downVote}}</span>Votes
      </div>
      <div class="title" ng-click="viewPost(post.title)">{{ post.title }}</div>
      <div class="original">{{ post.text }}</div>
    </div>
  </div>
  </div>


